<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Week 15 BURGER LOGGER</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">

    <link href="../../public/assets/css/burger_style.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
             <!--  ALWAYS VISIBLE HEADERS  -->
    <h1 class="text-center"><span>Eat-Da-Burger</span></h1>
    <h2 class="text-center"><span>Burger Logger</span></h2>

              <!--  ALWAYS VISIBLE BURGER PICTORIAL  -->
    <div class="picimgs">
        <img class="brgrBlock" src="./images/servedBurger.jpeg">
        <img class="brgrBlock" src="./images/openFaceBurger.jpeg">
        <img class="brgrBlock" src="./images/bittenBurger.jpeg">
        <img class="brgrBlock" src="./images/shrimpBurger.jpeg">
        <img class="brgrBlock" src="./images/burgersOnTheGrill.jpeg">
        <img class="brgrBlock" src="./images/bittenBurger.jpeg">
        <img class="brgrBlock" src="./images/shrimpBurger.jpeg">
        <img class="brgrBlock" src="./images/servedBurger.jpeg">
        <img class="brgrBlock" src="./images/openFaceBurger.jpeg">


    {{{body}}}


</body>
</html>