<!--  ACTION BUTTONS (HOME PAGE ONLY)  -->
<div id="menuBtns" class="text-center">
    <a href="/selectAll"><button type="button" class=" selAllBtn btn btn-lg btn-primary">
       <span class="glyphicon glyphicon-credit-card"></span>All-Burgers-Menu</button>
    </a>
    <a href="/selectOne"><button type="button" class="selOneBtn btn btn-lg btn-warning">
        <span class="glyphicon glyphicon-credit-card"></span>Find-A-Burger</button>
    </a>
    <a href="/updateOne"><button type="button" class="updOneBtn btn btn-lg btn-danger">
        <span class="glyphicon glyphicon-credit-card"></span>Devour-A-Burger</button>
    </a>
</div>    <!--  END ACTION BUTTONS  -->

<!--  FOOTER HOME PAGE ONLY  -->
<footer class="footer">
    <div class="container text-center">
        <p id ="mainfoot">
            <a>View All Burgers</a> | <a>View Devoured Burgers</a>
        </p>
    </div>
</footer>